
.image-container img {
    display: inline-block;
    margin-right: 10px; /* 你可以根据需要调整这个值 */
    width: 250px;
    height: 180px;
    transition: transform .2s ease-in-out;
}
.image-container img:hover {
        transform: scale(2);
        
    }
.image-container p {
    display: none;
    font-size: 15px;
    text-align: center;
}

.image-container img:hover + p {
    display: block;
}

    /* 使用nth-child选择器选取第一张和第三张图片 */
    .image-container img:nth-child(1) {
        margin-left:100px;
    }

    .image-container img:nth-child(2) {
        margin-left: 100px;
    }

.image-container img:nth-child(3) {
    margin-left: 100px;   
}
